{% extends "modernaize/base.html" %}

{% block title %}Magnif.ai - Index{% endblock %}

{% block content %}
<div style="padding: 3rem 1.5rem; text-align: center;">
<h1>Magnif.ai</h1>
<p>This is a placeholder to test that everything is working.</p>
</div>
{% endblock %}
<!--
<!doctype html>
<html>
    <head>
        <title>Moderniaize!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <p class="test">
            This is a placeholder to test that everything is working
        </p>
    </body>
</html>
-->