{% extends "modernaize/base.html" %}

{% block title %}Magnif.ai - Profile{% endblock %}

{% block content %}
<div style="padding: 3rem 1.5rem; text-align: center;">
<h1>Magnif.ai</h1>
<p>You are logged in as {{ user.get_username }}!</p>
<br/>
{% if recent_images %}
    <div class="well text-center">
    <div class="col-md-12" style="padding-bottom: 2rem;"><h3>Here are your (up to) three most recently uploaded images:</h3></div>
    <div class="row">
        {% for image in recent_images %} 
        <div class="col-md-4"> 
            <!-- <img src="{{ image.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> -->
            <img src="https://magnifaistorage.blob.core.windows.net/uploads{% if image.should_colorize %}-colorize{% endif %}/{{ image.filename }}.jpg" class="img-responsive" style="width: 300px; height: 300px; object-fit: contain;" />
            <p>Image uploaded: {{ image.uploaded_at }}</p>
            <h4><a href="{% url 'modernaize:image' image.filename %}">View the enhanced version!</a></h4>
        </div> 
        {% endfor %}
    </div>
    </div>
{% else %}
    <p>You have not uploaded any images yet. Perhaps you want to <a href="{% url 'modernaize:upload' %}">change that?</a></p>
{% endif %}

</div>
{% endblock %}