{% extends "modernaize/base.html" %}
{% load static %}

{% block title %}Magnif.ai - Upscale{% endblock %}

{% block content %}

  <div style="padding: 3rem 1.5rem; text-align: center;">
    <h1>Magnif.ai Upscale</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Original image:</h3>
        <img src="{{ image.image.url }}" class="img-responsive" style="width: 300px; height: 300px; object-fit: contain;" />
      </div>
      <div class="col-md-6">
        <h3>Upscaled image:</h3>
        <!-- <img src="{% static 'modernaize/bakercat.gif' %}" class="img-responsive" style="width: 300px; height: 300px; object-fit: contain;" /> -->
        <img src="http://127.0.0.1:8000/media/upscaled_images/result.png" class="img-responsive" style="width: 300px; height: 300px; object-fit: contain;" />
      </div>
    </div>
  </div>

{% endblock %}
